include CHANGELOG.rst CONTRIBUTING.md helpfile.txt LICENSE Makefile qtop qtopconf.yaml README.md ROADMAP.rst

recursive-include qtop_py/contrib *.gif *.ref *.sh *.stdout *.txt
recursive-include qtop_py/inputs *.jdl *.sh
recursive-include qtop_py/web *.html
recursive-include tests *.py

global-exclude __pycache__ *.py[cod]
