include CHANGELOG.md
include CONTRIBUTING.md
include helpfile.txt
include Makefile
include MANIFEST.in
include LICENSE
include qtopconf.yaml
include qtop
include README.md
include ROADMAP.md
include requirements-ci.txt
include .gitlab-ci.yml
recursive-include .github/workflows *.yml
recursive-include docs *.md *.rst *.png
recursive-include tools *.py

recursive-include qtop_py *.py *.sh *.jdl *.html *.txt *.ref *.gif *.stdout
recursive-include tests *.py
recursive-include tests/plugins/slurm_samples *.txt
