include CHANGELOG.rst
include CONTRIBUTING.md
include helpfile.txt
include LICENSE
include README.md
include ROADMAP.rst
include pyproject.toml
include qtopconf.yaml
include qtop_py/colormap.py
include qtop_py/constants.py
include qtop_py/fileutils.py
include qtop_py/serialiser.py
include qtop_py/utils.py
include qtop_py/web.py
include qtop_py/yaml_parser.py
include qtop_py/qtop.sh
recursive-include qtop_py/plugins *.py
recursive-include qtop_py/inputs *.sh *.jdl
recursive-include qtop_py/web *.html *.css *.js
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
